// .invoice{
//   width: 100%;
//   height: auto;
// }
.invoice-table {
 
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f7f4f4;
  max-width: max-content;
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0 auto;
  // padding-right: 10px;
  // padding-left: 10px;

  .invoice-card {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
h2 span{
  color: var(--primary-color);
}
  .invoice-actions {
    margin-bottom: 10px;

    .delete-selected {
      background-color: #ff4d4d;
      color: white;
      border: none;
      padding: 6px 10px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 20px;

      &:hover {
        background-color: #ff1a1a;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid var(--primary-color);

    input {
      width: 20px;
      height: 40px;
      color: white;
      border-radius: 20px;
      padding: 10px;
      background-color: transparent;
      border: 1px solid rgb(49, 93, 125);
    }

    th,
    td {
      padding: 5px;
      border: 1px solid rgba(57, 104, 192, 0.322);
    }

    th {
      background-color: #f2f2f2;
      text-align: center;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  .pagination-item {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
  }

  .pagination-link {
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
    color: #007bff;
    text-decoration: none;

    &:hover {
      background-color: #e7f1ff;
    }
  }

  .active-link {
    background-color: #007bff;
    color: white;
  }

  .back-arrow {
    margin-top: 20px;
    margin-left: 20px;

    button {
      background-color: transparent;
      border: none;
      font-size: 16px;
      padding: 5px;
      color: #007bff;
      cursor: pointer;

      &:hover {
       background-color: var(--primary-color);
       color: white;
      }
    }
  }
  
  .edit-icon,
  .delete-icon {
    cursor: pointer;
    margin-left: 10px;
    color: #007bff;

    &:hover {
      color: #0056b3;
    }
  }
  .delete-icon{
    color: red;

    &:hover {
      color: #bd3618;
    }
  }
  .confirmation-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; // Ensure it overlays other content

    .confirmation-popup {
      background-color: #fff; // White background for the popup
      border-radius: 8px; // Rounded corners
      padding: 20px;
      max-width: 400px;
      width: 100%; // Responsive width
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); // Subtle shadow
      text-align: center; // Center text

      h3 {
        margin-bottom: 15px; // Space below heading
        font-size: 18px; // Font size for heading
        color: #333; // Darker text color
      }

      p {
        margin-bottom: 20px; // Space below paragraph
        font-size: 16px; // Font size for description
        color: #555; // Slightly lighter text color
      }

      .confirmation-actions {
        display: flex;
        justify-content: space-between; // Space buttons apart
        margin-top: 20px; // Space above buttons
        width: 100%;
        // border: 1px solid crimson;

        .submit-btn {
          background-color: #28a745; // Green background for submit button
          color: #fff; // White text color
          border: none; // No border
          padding: 5px; // Padding around the button
          border-radius: 5px; // Rounded corners
          width: 45%;
          cursor: pointer; // Pointer on hover
          transition: background-color 0.3s ease; // Smooth background change

          &:hover {
            background-color: #218838; // Darker green on hover
          }
        }

        .cancel-btn {
          background-color: #dc3545; // Red background for cancel button
          color: #fff; // White text color
          border: none; // No border
          padding: 5px; // Padding around the button
          border-radius: 5px; // Rounded corners
          cursor: pointer; // Pointer on hover
          width: 45%;
          transition: background-color 0.3s ease; // Smooth background change

          &:hover {
            background-color: #c82333; // Darker red on hover
          }
        }
      }
    }
  }

  .item-detail span{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 12px;
  }
  .item-detail .price{
    color: #007bff;
  }
  .payment-status{
    color: brown;
    font-weight: 700;
  }
  .nothing {
    background-color: #61b116;
    position: absolute;
    top: 8%;
    left: 30%;
    transform: translate(-50% -50%);
    border-radius: 8px;
    padding: 10px;
    height: 15vh;
    // border: 1px solid crimson;

    .nothingLinks {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;

      a {
        color: olive;
        background-color: #222;
        border: 1px solid wheat;
        border-radius: 4px;
        padding: 4px;
        margin-bottom: 5px;
        text-decoration: none;
        transition: all 300ms ease-in-out;
      }
      a:hover {
        cursor: pointer;
        background-color: #555;
      }
    }
  }
}
.invoice-table {
  width: 100%;
  margin: 2rem auto;

  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #333;
  }

  table {
    width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  overflow-x: auto;

    th,
    td {
      padding: 1rem;
      border-bottom: 1px solid #ddd;
      text-align: left;
    }

    th {
      background-color: #f7f7f7;
      font-weight: bold;
    }

    tbody tr:hover {
      background-color: #f9f9f9;
    }

    tbody td button {
      background: none;
      border: none;
      cursor: pointer;

      svg {
        font-size: 1.25rem;
        color: #666;
        transition: color 0.2s ease;

        &:hover {
          color: #333;
        }
      }
    }

    .editable-items-table {
      width: 100%;
      margin-top: 1rem;

      th,
      td {
        text-align: left;
        padding: 0.75rem;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #fafafa;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: #f44336;
        color: #fff;
        cursor: pointer;
        border: none;
        font-size: 0.9rem;

        &:hover {
          background-color: #d73832;
        }
      }
    }
  }

  .invoice-card {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    h2 {
      font-size: 2rem;
      color: #444;
    }
  }

  .edit-invoice-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  .edit-invoice-popup {
    background-color: #fff;
    border-radius: 8px;
    padding: 2rem;
    width: max-content;
    max-width: 90%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;

    h3 {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      color: #333;
    }

    .edit-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 1.5rem;

      button {
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        border: none;
        transition: background-color 0.3s ease;

        &:first-child {
          background-color: #4fa94d;
          color: #fff;

          &:hover {
            background-color: #3c8a3a;
          }
        }

        &:last-child {
          background-color: #f44336;
          color: #fff;

          &:hover {
            background-color: #d73832;
          }
        }
      }
    }

    input[type='text'],
    input[type='number'] {
      width: 100%;
      padding: 0.75rem;
      border: 1px solid #ccc;
      color: #222;
      border-radius: 4px;
      margin-bottom: 1rem;
    }

    select {
      width: 100%;
      padding: 0.75rem;
      border-radius: 4px;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    button {
      padding: 0.5rem 1rem;
      border-radius: 4px;
      background-color: #f44336;
      color: #fff;
      cursor: pointer;
      border: none;

      &:hover {
        background-color: #d73832;
      }
    }
    .editable-items-table {
      width: 100%;
      margin-top: 1rem;

      th,
      td {
        text-align: left;
        padding: 0.75rem;
        border-bottom: 1px solid #ddd;
      }

      th {
        background-color: #f7f7f7;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 4px;
      }

      button {
        padding: 0.5rem 1rem;
        border-radius: 4px;
        background-color: #f44336;
        color: #fff;
        cursor: pointer;
        border: none;

        &:hover {
          background-color: #d73832;
        }
      }
    }
  }
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
