.payment-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;

    .left-card,
    .right-card {
      flex: 1;
      margin: 10px;
      padding: 20px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .left-card {
      .minicard {
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
        background-color: #f0f4f7;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);

        h3 {
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          font-size: 1.2em;
          color: #333;
        }

        p {
          margin: 5px 0;
          color: #555;
        }

        hr {
          margin: 10px 0;
          border: 0;
          border-top: 1px solid #ddd;
        }
        .amountPaid {
          color: purple;
          font-weight: 700;
        }
        .currentExcessPay {
          color: green;
          font-weight: 700;
        }
        .balance {
          color: crimson;
          font-weight: 700;
        }
      }
    }

    .right-card {
      .button-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .generate-invoice,
        .generate-receipt {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          font-size: 1em;
          color: #fff;
          background-color: #007bff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: #0056b3;
          }

          svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}
