.login {
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -100;
  background-image: url('/loginbg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

.login-container {
  width: 350px;
  height: 400px;
  background-image: url("bghm.jfif");
  box-shadow: 0 0 10px var(--primary-color);
  border: 1.5px solid #315d7d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  // opacity: 0.8;
  gap: 20px;
  border-radius: 15px;
  color: white;
}
input {
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 20px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(49, 93, 125);
  text-align: center;
}
.reset {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
#checkbox {
  width: 20px;
  height: 20px;
}
.forgot-password-link:hover {
  cursor: pointer;
  color: crimson;
}
.LoginBtn {
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background-color: rgba(10, 10, 10, 0.5);
  border: 1px solid rgb(49, 93, 125);
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 1000;
  transition: all 300ms ease-in-out;
}
.LoginBtn:hover {
  background-color: coral;
  cursor: pointer;
}
.loginError {
  color: crimson;
  background-color: black;
  width: 200px;
  text-align: center;
  height: 5vh;
  border-radius: 15px;
}
}