.tenants-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-transform: capitalize;
  background-image: linear-gradient(rgba(15, 15, 15, 0.8), rgba(9, 9, 9, 0.8)),
    url(/house2.jpg);
  background-position: center;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    color: #61b116;
  }

  .tenants-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }

  .tenant-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
    position: relative;

    &:hover {
      transform: translateY(-5px);
      background-color: burlywood;
      color: #222;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 123, 255, 0.05);
        border-radius: 8px;
        pointer-events: none;
      }
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
      color: #444;
      text-transform: capitalize;
    }

    p {
      font-size: 1rem;
      color: #555;

      strong {
        color: #222;
      }
    }
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;

    .page-item {
      margin: 0 5px;
      list-style: none;

      .page-link {
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
        color: #007bff;
        text-decoration: none;

        &:hover {
          background-color: #f1f1f1;
        }

        &.active {
          background-color: #007bff;
          color: #fff;
          border-color: #007bff;
        }
      }
    }
  }
}
