// src/components/TenantPaymentList.scss
.tenant-payment-list {
  max-width: fit-content;
  flex-wrap: wrap;
  margin: auto;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;

  h2 {
    margin-bottom: 1rem;
    text-align: center;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 0.8rem;
      text-align: center;
    }

    th {
      background-color: #f4f4f4;
    }

    button {
      margin: 0 5px;
      padding: 5px 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: aquamarine;
      cursor: pointer;
      transition: all 300ms ease-in-out;

      &.active {
        background: #007bff;
        color: white;
      }

      &:hover {
        background: #007bff3b;
        color: crimson;
      }
    }

    .paymentRecordDeletebtn:hover {
      cursor: pointer;
    }
  }

  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .confirm-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .cancel-btn {
    background-color: #f1f1f1;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
  }
}
