.summary{
    display: flex;
}
.dashboardcontent{
    padding-top: 100px;
    padding-left: 30px;
}
.dashboardheading{
    margin-bottom: 40px;
}
.container-info{
    padding: 20px;
    display: flex;
    gap: 10px;
}
.box{
    width: 230px;
    height: 150px;
    background-color: var(--yellow);
    display: flex;
    gap: 20px;
    padding: 30px;
    border: .5px solid var(--primary-color);
    border-radius: 5px;
}
.box p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}