*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.login{
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: -100;
    background-image: url('/loginbg3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    width: 350px;
    height: 400px;
    backdrop-filter: blur(4px);
    border: 1.5px solid rgb(49, 93, 125);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}
input{
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(49, 93, 125);
}
.reset{
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#checkbox{
    width: 20px;
    height: 20px;
}
.btn{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    background-color: rgba(10,10,10,0.5);
    border: 1px solid rgb(49, 93, 125);
    font-size: 17px;
}