@import "../../responsive.scss";

.admin {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  background-image: 
    url('/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 30px; */
  @include md {
      display: flex;
      flex-direction: column;
    }
    @include sm {
       display: flex;
      flex-direction: column;
      
    }
}
.profile-details {
  width: 100%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include md {
      display: flex;
      flex-direction: column;
    }
    @include sm {
       display: flex;
      flex-direction: column;
    }
}
.personalinfo {
  width: 40%;
  height: 100%;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  @include md {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    @include sm {
       display: flex;
      flex-direction: column;
      width: 100%;
    }
}
.profile2 {
  display: flex;
  flex-direction: column;
  height: 200px;
}
.admin-image {
  width: 300px;
  height: 320px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.admin-image img {
  width: 100%;
  height: 100%;
   box-shadow: 0 0 10px var(--primary-color);
  outline: none;
  border-radius: 15px;
  object-fit: cover;
}
.change-password {
  width: 50%;
  height: 100%;
}
.btn2 {
  display: flex;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  margin: 0 auto;
}

form input {
  color: white;
}
.adminDetails {
  padding: 5px;
  padding-left: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--primary-color);
}
.changePassword {
  width: 40%;
  height: 90%;
 
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0 0 10px var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @include md {
     height: 90%;
    }
    @include sm {
      width: 90%;
      height: 30vh;
      margin-bottom: 40px;
      // height: 300px;
      // margin-top: 5px;
      
    }
}
/* form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.changePassbtn {
  width: 150px;
  height: 40px;
  border-radius: 16px;
  outline: none;
  border: none;
  background-color: bisque;
}
.changePassbtn:hover {
  cursor: pointer;
  background-color: brown;
}
.ChangePassError {
  color: crimson;
  background-color: black;
  width: 200px;
  text-align: center;
  height: 5vh;
  border-radius: 15px;
}
